body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 40px;
}
h5{
    font-size: 40px;
    text-align: center;
}
.orange-color{
    color: olivedrab;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2% ;
}
.half-width img{
    width: 80%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    color: #fff;
    font-weight: 700px;
    border-radius: 5px;
}

.top-banner{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px orange;
}
.experience-item img{
    width: 90%; 
}
footer{
    background-color: black;
    color: #fff;
}
footer h1{
    text-align: center;
}
footer p {
    text-align: center;
}

.button1 {
    background-color: orange;
}

    
.button1 {
    border: none;
    color: white;
    padding:15px 95px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin: 10px ;
    border-radius: 22px;
  }

 .button2{
     background-color: orangered;
 } 
 .button2{
     border: none;
     color: #fff;
     padding: 15px 103px;
     text-align: center;
     text-decoration: none;
     font-size: 13px;
     margin: 10px;
     border-radius: 22px;
 }